<div class="language-switcher">
    <ul id="menu">
        <li>
            <div class="language-button java">Java</div>
        </li>
        <li>
            <div class="language-button ruby">Ruby</div>
        </li>
        <li>
            <div class="language-button python">Python</div>
        </li>
    </ul>
</div>