<div class="language-switcher">
    <ul id="menu">
        <li>
            <div class="language-button java {{#if_eq selected 'java'}}selected{{/if_eq}}">Java</div>
        </li>
        <li>
            <div class="language-button ruby {{#if_eq selected 'ruby'}}selected{{/if_eq}}">Ruby</div>
        </li>
        <li>
            <div class="language-button python {{#if_eq selected 'python'}}selected{{/if_eq}}">Python</div>
        </li>
    </ul>
</div>