<div class="content">
    <div class="heading">
        <h1 class='resource-name'>{{name}}</h2>
    </div>
    {{#if description}}
            <div class="markdown action-summary">{{{description}}}</div>
    {{/if}}
</div>

<ul class='endpoints' id='{{id}}_endpoint_list'>
</ul>