<h4 class="sample-title" data-control data-toggle="collapse"
    data-target="#sample-{{id}}">Code Sample</h4>
<div data-content class="collapse in" id="sample-{{id}}">
    <div class="snippet">
        <pre><code class="{{language}}">{{snippet}}</code></pre>
    </div>
</div>